 html {
  scroll-behavior: smooth;
  box-sizing: inherit;
}

:root{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
  width: auto;
  max-width: 100%;
  background-image: linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.2)), url(zdjecia/pizza-7154270_960_720.png);
  background-size:contain;
  background-position: center;
  
}
  .navbar{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px 20px;
    margin-top:10px;
    

  }
  .navbar-menu{
    display:flex;
    gap: 20px;
    
  }
  .navbar-menu ul li {
    display: flex;
    padding: 10px;
    float:left;
    margin-left: 100px;
    
  
  }

  .navbar-menu a {
    color:black;
    font-weight: bold;
    font-size:40px;
    font-family:"dancing script", cursive;
    transition: color 0.3 ease;
  }

    .navbar-menu a:hover{
    color: #FFD77F;
    transition: 0.2s ease-in-out;
  
}

  .navbar-logo img{
    height: 200px;
   
  }

.beggining{
  display:flex;
  flex-wrap: wrap;
  margin: 0 auto;
  background-color: rgba(255,255,255,0.8);
  margin:20px;

}
.first{
  display: block;
  width: 50%;

}
.first .text{
  color:#009900;
  font-family: "dancing script", cursive;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}
 
  .first .button-section{
    margin:40px;
    align-items: center;
    justify-content: space-around;
    display: flex;
  
  }
  .button-section a{
    text-decoration: none;
    font-family: "dancing script", cursive;
    text-transform: uppercase;
    color:red;
    font-weight: bold;
    font-size: 20px;
  }

  a:hover{
    color:#FFD77F;
    transition: 0.2s ease-in-out;
  }

  .second{
    background-image: url(https://cdn.pixabay.com/photo/2016/05/24/13/29/olive-oil-1412361__340.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    width: 50%;
  }

  .title {
    margin-top:20px;
    margin-bottom: 20px;
    padding:10px;
    text-align: center;
    font-size: 42px;
    font-family: "dancing script", cursive;
    font-weight:bold;
    text-decoration: underline;
    color:black;
    
  }

  #container{
    max-width: auto;
    margin: 0 auto;
    overflow: hidden;
   
    
  }
  .row{
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255,255,255,0.8);
    margin:20px;
  }
   #container .box{
    float: left;
    padding: 30px;
    width: 33%;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    box-sizing: border-box;
  }

  #container .box img{
    width: 100%;
    height: auto;
    }

  #container::after{
    content: "";
    display:flex;
    clear:both;
  }
  
  .o-nas-section {
    display:flex;
    padding: 15px;
    justify-content: space-between;
    margin:20px;
    text-align: justify;
    font-size: 1.5rem;
    font-family: "dancing script", cursive;
    color: #009900;
    background-color: rgba(255,255,255,0.8);
    
  }
  .o-nas-section span{
    display: flex;
    align-items: center;
  }
  .o-nas-section img{
    height: 300px;
    margin-left: 10px;
   
  }


  .container2{
    display:flex;
    flex-direction: column;
    align-items: center;
  }

  .gallery{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    gap:10px;
    align-items:center;
    padding: 10px;
    background-color: rgba(255,255,255,0.8);
    margin: 20px;
  }


  .gallery img{
    max-width: 30%;
    position:relative;
    box-sizing: initial;
    
  }

  .footer{
    font-family: "dancing script", cursive;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0.8);
    margin:20px
    
  }

  .footer ul li {
    float:left;
    list-style-type: none;
    
  }

  .footer a{
    text-decoration: none;
    justify-content: space-between;
    font-size:1.5rem;
    color:black;
    padding: 15px;
  }

  .footer a:hover{
    color: #FFD77F;
    text-decoration: none;
    transition: 0.2s ease-in-out;
  }