
html, body {
height: 100%;
margin:0;
padding: 0;
}


.naglowek{
font-size:24px;
padding: 40px;
border: 2px solid black;
background-image: url(zdjecia/istockphoto-1414802501-612x612.jpg);
background-repeat: no-repeat;
background-size:cover;
    
}

.naglowek h2 {
font-size: 44px;
color:#333;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.strona{
display: flex;

}
.aside{
width: 20%;
height: 100%;
float:left;
display: flex;
box-sizing: border-box;


}

.sidebar{  
background-color: #333;
padding:20px;
margin-left: auto;

}

.sidebar li {
text-decoration: none;
padding: 20px;
list-style: none;
margin-left: auto;
display:flex;


}

.sidebar nav li a {
font-size: 20px;
text-decoration: none;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: white;
margin-left: 2px;

}
.sidebar nav li a:hover{
color:purple;
}


main{
width: 80%;
padding: 20px;
box-sizing: border-box;
float:left;
height: 100%;

}

.container{
margin: 0 auto;
float:left;

}
.row{
display: flex;
flex-wrap: wrap;
}

.section{
width: 33%;
box-sizing: border-box;
padding: 10px;

}

.section h3{
font-size: 24px;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;
border: 2px solid #333;
padding: 20px;


}

.section img{
width: 100%;
max-width: 400px;
height: auto;
align-items: center;

}
.section p {
float: left;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: justify;
}

/* .stopka{
box-sizing: border-box;
background-color: #d3d3d3;
position: absolute;

}
.stopka ul{
display: flex;
list-style: none;
align-items: center;
padding: 20px;

}
.stopka ul li a {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 20px;
text-decoration: none;
color:#333;
     */
}

body::after{
content: "";
display: table;
clear:both;
}
